:host {
  display: block;
  max-width: 500px;
  font-family: 'Roboto', sans-serif;
}

mat-dialog-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.timeline-container {
  position: relative;
  padding-left: 30px; /* Espacio para la línea y los íconos */
}

/* La línea vertical de la línea de tiempo */
.timeline-container::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 5px;
  bottom: 5px;
  width: 2px;
  background-color: #e0e0e0;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-icon {
  position: absolute;
  left: -25px; /* Centra el ícono en la línea vertical */
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1976d2; /* Color primario */
  border: 2px solid white;
  z-index: 1;
}

.timeline-content {
  padding-left: 15px;
}

.state-change {
  margin: 0 0 4px 0;
  font-size: 1rem;
  color: #333;
}

.state-change strong {
  font-weight: 500;
  color: #1976d2;
}

.details {
  margin: 0;
  font-size: 0.8rem;
  color: #757575;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 16px; /* Añade un espacio mínimo entre el usuario y la fecha */
}

.user {
  font-style: italic;
}

