
<div class="container">

    <div class="cabezera">
      <h1>Usuarios</h1>      
      <mat-form-field floatLabel="always" appearance="outline" class="white-backgrounded-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Lesther" #input>
      </mat-form-field>
      <!-- <a mat-raised-button class="button-crear-user"  (Agregado)="onAdd($event)" color="primary"> -->
      <a mat-raised-button class="button-crear-user" (click)="openDialogAgregar()" (Agregado)="onAdd($event)" color="primary">
        <mat-icon>add</mat-icon>
        Añade un nuevo usuario
      </a>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
              
        <!-- Position Column -->
        <ng-container matColumnDef="CodigoUsuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.IdUsuarioPK }} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="NombreUsuario" class="columna-descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
          <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.DescripcionEstado}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="FechaIngresoUsuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Ingreso </th>
          <td mat-cell *matCellDef="let element"> {{element.FechaIngresoUsuario}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol Asignado </th>
          <td mat-cell *matCellDef="let element"> {{element.NombreRol }} </td>
        </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" class="contenedor-botones"> 
            <!-- <a mat-flat-button class="button-editar-user" (click)="openDialogEditar(element.CodigoConsola)"  title="editar useructo" > -->
            <!-- <a mat-flat-button href="#" class="button-editar-user"  title="ver/editar usuario" > -->
            <a mat-flat-button href="#" [routerLink]="['/home/administracion/ver-usuario', element.IdUsuarioPK,'view']" class="button-editar-user"  title="ver/editar user" >
            <mat-icon class="iconos-custom">preview</mat-icon>
            </a>
            <!-- <a mat-flat-button  (click)="openDialogEliminar(element.CodigoConsola)" title="borrar useructo" > -->
            <a mat-flat-button title="borrar usuario" >
              <mat-icon class="button-eliminar-user">delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encuentran datos con  "{{input.value}}"</td>
      </tr>

      </table>
      <mat-paginator class="foo-paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" ></mat-paginator>
</div>

