<div class="contenedor-componente-crear-pedido" *ngIf="!isLoading">
    <h3 mat-dialog-title>
        <span>Detalles del Pedido {{ OrderId }}</span>
    </h3>
    <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">
        <div class="contenedor-principal">
            <div class="contenedor-secundario">
                <div class="contenedor-row">
                    <div class="contenedor-img-consola">
                        <img [src]="ImagePath" alt="imagen-consola" class="imagen-consola">
                    </div>
                    <div class="contenedor-fechas">
                        <mat-label class="seccion-label">Fechas</mat-label>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Fecha Creación Pedido</mat-label>
                            <input matInput [matDatepicker]="creationDatePicker" formControlName="FechaCreacionPedido" required />
                            <mat-datepicker-toggle matSuffix [for]="creationDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #creationDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Fecha Arribo USA</mat-label>
                            <input matInput [matDatepicker]="arrivoDatePicker" formControlName="FechaArriboUSA" required />
                            <mat-datepicker-toggle matSuffix [for]="arrivoDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #arrivoDatePicker [matDatepickerFilter]="dateFilter"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Fecha Estimada Recepción</mat-label>
                            <input matInput [matDatepicker]="estimadaDatePicker" formControlName="FechaEstimadaRecepcion" required />
                            <mat-datepicker-toggle matSuffix [for]="estimadaDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #estimadaDatePicker [matDatepickerFilter]="dateFilter"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="contenedor-tracking">
                        <mat-label class="seccion-label">Tracking</mat-label>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Número Tracking 1</mat-label>
                            <input matInput type="text" formControlName="NumeroTracking1" />
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Número Tracking 2</mat-label>
                            <input matInput type="text" formControlName="NumeroTracking2" />
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Sitio Web</mat-label>
                            <mat-select formControlName="SitioWeb" required>
                                <mat-option *ngFor="let est of selectedSitioWeb" [value]="est.CodigoSitioWeb">{{est.DescripcionSitioWeb}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="contenedor-adicional">
                    <div class="contenedor-detalles">
                        <mat-label class="seccion-label">Detalles del pedido</mat-label>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="Estado">
                                <mat-option *ngFor="let est of selectedEstadoPedido" [value]="est.CodigoEstadoPedido">{{ est.DescripcionEstadoPedido }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Peso del pedido (lbs)</mat-label>
                            <input matInput type="text" inputmode="decimal" formControlName="PesoPedido" (input)="enforceTwoDecimals($event)" />
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido grow">
                            <mat-label>Comentarios</mat-label>
                            <textarea matInput class="comentario" formControlName="Comentarios" (input)="adjustTextareaHeight($event)" maxlength="2000"></textarea>
                            <mat-hint align="end">{{ pedidoForm.get('Comentarios')?.value?.length || 0 }}/2000</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="contenedor-tarifas">
                        <mat-label class="seccion-label">Costos y Tarifas del Pedido</mat-label>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Vía Pedido</mat-label>
                            <mat-select formControlName="ViaPedido">
                                <mat-option *ngFor="let est of selectedTipoPedido" [value]="est.CodigoTipoPedido">{{est.DescripcionTipoPedido}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Subtotal de Artículos</mat-label>
                            <input matInput type="text" formControlName="SubTotalArticulos" readonly />
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Impuestos</mat-label>
                            <input matInput type="text" inputmode="decimal" formControlName="Impuestos" (input)="enforceTwoDecimals($event)" />
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Envío a USA</mat-label>
                            <input matInput type="text" inputmode="decimal" formControlName="ShippingUSA" (input)="enforceTwoDecimals($event)" />
                        </mat-form-field>
                        <mat-form-field class="input-form-pedido">
                            <mat-label>Envío a NIC</mat-label>
                            <input matInput type="text" inputmode="decimal" formControlName="ShippingNic" (input)="enforceTwoDecimals($event)" />
                        </mat-form-field>
                        <mat-form-field class="total-field">
                            <mat-label>TOTAL DEL PEDIDO</mat-label>
                            <input matInput formControlName="PrecioEstimadoDelPedido" readonly />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="botones">
            <button mat-stroked-button type="button" (click)="onCancel()">Cerrar</button>
            <button mat-stroked-button color="accent" type="button" 
                    *ngIf="pedidoForm.get('Estado')?.value === 5" 
                    (click)="descargarReporte()">
                <mat-icon>download</mat-icon>
                Descargar Reporte
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!pedidoForm.dirty || !pedidoForm.valid">Actualizar Pedido</button>
        </div>
    </form>
</div>

<app-index-listado-articulos 
  [dataToDisplay]="articulos" 
  (subtotalCambiado)="actualizarSubtotalDesdeHijo($event)">
</app-index-listado-articulos>