<div class="container">

    <div class="cabezera">
      <h1>Categorias</h1>      
      <mat-form-field floatLabel="always" appearance="outline" class="white-backgrounded-field">
        <mat-label>Filter</mat-label>
        <!-- <input matInput placeholder="Gameboy" #input> -->
        <input matInput (keyup)="applyFilter($event)" placeholder="Gameboy" #input>
    </mat-form-field>
      <!-- <a mat-raised-button class="button-crear-prod"  color="primary"> -->
      <a mat-raised-button class="button-crear-prod" (click)="openDialogAgregar()" (Agregado)="onAdd($event)" color="primary">
        <mat-icon>add</mat-icon>
        Añade una nueva categoria
      </a>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="ImagenCategoria">
            <th mat-header-cell *matHeaderCellDef > Imagen </th>
            <td mat-cell *matCellDef="let element"> <img class="category-image-card" [src]="element.ImagePath" alt="imagen-consola"> </td>
          </ng-container>      
              
        <!-- Position Column -->
        <ng-container matColumnDef="CodigoModeloConsola">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.CodigoModeloConsola}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="DescripcionConsola" class="columna-descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.DescripcionConsola}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Fabricante">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fabricante </th>
          <td mat-cell *matCellDef="let element"> {{element.Fabricante}} </td>
        </ng-container>       

         <!-- Symbol Column -->
         <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" class="contenedor-botones">             
            <a mat-flat-button class="button-editar-prod" (click)="openDialogEditar(element.IdModeloConsolaPK)"  title="editar producto" >
              <mat-icon class="iconos-custom">mode_edit</mat-icon>
            </a>
            
            <a mat-flat-button  (click)="openDialogEliminar(element.IdModeloConsolaPK)" color="warn" title="borrar producto" >
              <mat-icon class="button-eliminar-prod">delete</mat-icon>
            </a>
            <!-- <button type="button" class="btn btn-danger">Delete</button>  -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encuentran datos con  "{{input.value}}"</td>
      </tr>

      </table>
      <mat-paginator class="foo-paginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100, dataSource.data.length]" aria-label="Select page of users" ></mat-paginator>

</div>
