<div class="container">
  <div class="cabezera">
      <h1>Pedidos</h1>      
      <mat-form-field floatLabel="always" appearance="outline" class="white-backgrounded-field">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)" 
          placeholder="P-DDMMAAAA-X"
          #input
        />
      </mat-form-field>
      
      <a mat-raised-button  title="crear/pedido accesorio" class="button-crear-prod" [routerLink]="['/home/listado-productos/crear-pedido']" (Agregado)="onAdd($event)" color="primary">
        <mat-icon>add</mat-icon>
        Crear un nuevo Pedido
      </a>
    </div>


    <mat-tab-group #tabGroup>
      <mat-tab label="En espera">
        <app-tabla-pedidos 
          [dataSource]="pedidosEnEspera" 
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/>
      </mat-tab>
      <mat-tab label="En Transito">
        <app-tabla-pedidos 
          [dataSource]="pedidosEnTransito" 
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/> 
      </mat-tab>
      <mat-tab label="En Estados Unidos"> 
        <app-tabla-pedidos 
          [dataSource]="pedidosRecibidosUSA" 
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/> 
      </mat-tab>
      <mat-tab label="En aduana / Agencia"> 
        <app-tabla-pedidos 
          [dataSource]="pedidosEnAduana" 
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/> 
      </mat-tab>
      <mat-tab label="Recibidos"> 
        <app-tabla-pedidos 
          [dataSource]="pedidosRecibidos" 
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/> 
      </mat-tab>
      <mat-tab label="Cancelados"> 
        <app-tabla-pedidos 
          [dataSource]="pedidosCancelados" 
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/> 
      </mat-tab>
    </mat-tab-group>

    
</div>