<div class="container mat-elevation-z8">

  <header class="header">
    <h1>Gestión de Pedidos</h1>
    <div class="actions-header">
      <mat-form-field appearance="outline" class="filtro-texto">
        <mat-label>Buscar por Código...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="P-DDMMAAAA-X" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button mat-icon-button 
              color="warn" 
              matTooltip="Resetear filtros"
              (click)="resetearFiltros()"
              class="btn-accion-header">
        <mat-icon>filter_list_off</mat-icon>
      </button>

      <button mat-stroked-button 
              color="primary"
              (click)="descargarExcel()"
              class="btn-accion-header">
        <mat-icon>download</mat-icon>
        Exportar
      </button>
      <a mat-raised-button color="primary" class="button-crear" [routerLink]="['/home/listado-productos/crear-pedido']">
        <mat-icon>add</mat-icon>
        Nuevo Pedido
      </a>
    </div>
  </header>

  <div class="table-container">
    <div *ngIf="isLoading" class="spinner-container">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
      <p>Cargando Pedidos...</p>
    </div>

    <div *ngIf="errorMessage && !isLoading" class="error-container">
      <mat-icon color="warn">error_outline</mat-icon>
      <p>{{ errorMessage }}</p>
      <button mat-stroked-button color="primary" (click)="cargarPedidos()">Reintentar</button>
    </div>

    <mat-tab-group #tabGroup [hidden]="isLoading || errorMessage">
      <mat-tab label="En espera ({{pedidosEnEspera.length}})">
        <app-tabla-pedidos
          [dataSource]="pedidosEnEspera"
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/>
      </mat-tab>
      <mat-tab label="En Tránsito ({{pedidosEnTransito.length}})">
        <app-tabla-pedidos
          [dataSource]="pedidosEnTransito"
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/>
      </mat-tab>
      <mat-tab label="En USA ({{pedidosRecibidosUSA.length}})">
        <app-tabla-pedidos
          [dataSource]="pedidosRecibidosUSA"
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/>
      </mat-tab>
      <mat-tab label="En Aduana/Agencia ({{pedidosEnAduana.length}})">
        <app-tabla-pedidos
          [dataSource]="pedidosEnAduana"
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/>
      </mat-tab>
      <mat-tab label="Recibidos ({{pedidosRecibidos.length}})">
        <app-tabla-pedidos
          [dataSource]="pedidosRecibidos"
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/>
      </mat-tab>
      <mat-tab label="Cancelados ({{pedidosCancelados.length}})">
        <app-tabla-pedidos
          [dataSource]="pedidosCancelados"
          [displayedColumns]="displayedColumns"
          [filterValue]="filterValue"
          (actualizarPedidos)="cargarPedidos()"/>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>