<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-hidden="true">catching_pokemon</mat-icon>
  </button>
  <h3>SIAGTEC - Administración de taller</h3>

  <!-- Botón con imagen y nombre que despliega el menú -->
  <button mat-button [matMenuTriggerFor]="userMenu" class="user-info">
    <img *ngIf="user" [src]="ImagePath" class="user-avatar" alt="User Avatar">
    <span *ngIf="user" class="user-name">{{ UserName }}</span>
  </button>

  <!-- Menú desplegable con detalles del usuario -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>account_circle</mat-icon> {{ UserName }}
    </button>
    <button mat-menu-item (click)="viewProfile()">
      <mat-icon>visibility</mat-icon> Ver Perfil
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon> Cerrar Sesión
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="menu-container" style="height: 94vh;">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="list-items-css">
      <ng-container *ngFor="let item of filteredMenu">
        <!-- If the item has no subItems -->
        <mat-list-item *ngIf="!item.subItems" [routerLink]="item.route">
          <mat-icon class="iconos_menu">{{ item.icon }}</mat-icon>
          {{ item.label }}
        </mat-list-item>

        <!-- If the item has subItems -->
        <mat-expansion-panel *ngIf="item.subItems">
          <mat-expansion-panel-header>
            <mat-icon class="iconos_menu">{{ item.icon }}</mat-icon>
            {{ item.label }}
          </mat-expansion-panel-header>
          <mat-nav-list>
            <ng-container *ngFor="let subItem of item.subItems">
              <!-- If the subItem has no further subItems -->
              <mat-list-item *ngIf="!subItem.subItems" [routerLink]="subItem.route">
                {{ subItem.label }}
              </mat-list-item>

              <!-- If the subItem has further subItems -->
              <mat-expansion-panel *ngIf="subItem.subItems">
                <mat-expansion-panel-header>
                  {{ subItem.label }}
                </mat-expansion-panel-header>
                <mat-nav-list>
                  <mat-list-item *ngFor="let nestedItem of subItem.subItems" [routerLink]="nestedItem.route">
                    {{ nestedItem.label }}
                  </mat-list-item>
                </mat-nav-list>
              </mat-expansion-panel>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>

     <!-- Logout -->
    <mat-list-item (click)="logout()" class="logout-button">
      <mat-icon class="iconos_menu">logout</mat-icon>
      Log Out
    </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>