<h3 mat-dialog-title>
  <span>Editar Categoría de Insumo</span>
</h3>
<form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
  <div class="contenedor-principal">
    <div class="contenedor-secundario">
      <div class="contenedor-img-consola">
        <app-image-upload-insumo [initialImageName]="LinkImagen"></app-image-upload-insumo>
      </div>
      <div class="contendor-form">
        <mat-dialog-content class="mat-typography">
          <h3>Edita los detalles de la categoría {{IdModeloInsumoPK}}</h3>

          <mat-form-field class="input-form-prod">
            <mat-label>Fabricante</mat-label>
            <mat-select formControlName="FabricanteInsumos">
              <mat-option *ngFor="let est of selectedFabricante" [value]="est.IdFabricanteInsumosPK">{{est.NombreFabricanteInsumos}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="input-form-prod">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="CategoriaInsumos">
              <mat-option *ngFor="let est of selectedCategoriaInsumo" [value]="est.IdCategoriaInsumosPK">{{est.NombreCategoriaInsumos}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="input-form-prod">
            <mat-label>Modelo</mat-label>
            <mat-select formControlName="SubcategoriaInsumos">
              <mat-option *ngFor="let est of selectedSubCategoriaInsumo" [value]="est.IdSubcategoriaInsumos">{{est.NombreSubcategoriaInsumos}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="input-form-prod">
            <mat-label>Prefijo del insumo</mat-label>
            <input formControlName="CodigoModeloInsumos" matInput cdkFocusInitial>
            <mat-error *ngIf="categoriaForm.get('CodigoModeloInsumos')?.hasError('required')">
              El código es requerido.
            </mat-error>
            <mat-error *ngIf="categoriaForm.get('CodigoModeloInsumos')?.hasError('codeExists')">
              Este código ya está en uso. Por favor, elige otro.
            </mat-error>
            <!-- Indicador de carga mientras se valida -->
            <mat-icon matSuffix *ngIf="categoriaForm.get('CodigoModeloInsumos')?.pending">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
          </mat-form-field>
          
          </mat-dialog-content>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!categoriaForm.valid">Guardar Cambios</button>
  </mat-dialog-actions>
</form>