.contenedor-componente-crear-pedido {
  margin: 0 5%;
}

.contenedor-secundario {
  display: flex;
  flex-direction: column;
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  gap: 25px; /* Espacio entre filas */
}

.contenedor-row, .contenedor-adicional {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Espacio entre columnas */
}

.contenedor-img-consola {
  flex: 0 0 150px; /* Base fija de 150px, no crece ni se encoge */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-consola {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.contenedor-fechas, .contenedor-tracking, .contenedor-detalles, .contenedor-tarifas {
  flex: 1; /* Ocupan el espacio restante de manera equitativa */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre los form-fields */
}

.seccion-label {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.input-form-pedido {
  width: 100%;
}

/* Permite que el textarea crezca */
.input-form-pedido.grow {
  flex-grow: 1; 
}

textarea.comentario {
  resize: none; /* Deshabilitar el redimensionamiento manual */
  overflow-y: auto; /* Scroll si el contenido es muy largo */
  min-height: 50px; /* Altura mínima */
}

/* Estilo especial para el campo total */
.total-field .mat-mdc-text-field-wrapper {
  background-color: #f0f0f0;
}

.total-field input {
    font-size: 1.3em;
    font-weight: bold;
    color: #d32f2f; /* Rojo */
    text-align: right;
}

.botones {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}