body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
  margin-right: 0;
  margin-left: 1%;
}

table {
  width: 125%;  
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 20vw;
  border-radius: 5px;
}



td, th {
  width: 10vw;
}

.cabezera{
  display: flex;
  align-items: center;
  padding: 2%;
  justify-content: space-between;
  width: 125%;
}

.foo-paginator{
 width: 125%;
 background-color: #f0f0f0;
}

.white-backgrounded-field .mdc-text-field--outlined .mdc-notched-outline {
  z-index: 0
}

.white-backgrounded-field .mdc-notched-outline__notch,
.white-backgrounded-field .mdc-notched-outline__leading,
.white-backgrounded-field .mdc-notched-outline__trailing {
  background-color: white!important;
  color: white!important;
}

.btn-create-prod{
  margin-left: 10%!important;
}


