<h2 mat-dialog-title>Agregar Nuevo Servicio</h2>

<form [formGroup]="servicioForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="contenedor-principal">
      
      <!-- Datos del servicio -->
      <section class="contenedor-form">
        <h3>Datos del Servicio</h3>

        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Descripción del Servicio</mat-label>
          <input matInput formControlName="DescripcionServicio" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Precio Base</mat-label>
          <input matInput type="number" formControlName="PrecioBase" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-form">
          <mat-label>Comentario</mat-label>
          <textarea matInput formControlName="Comentario" placeholder="Detalle adicional..."></textarea>
        </mat-form-field>
      </section>

      <!-- Insumos -->
      <button type="button" mat-stroked-button color="accent" (click)="toggleInsumos()">
        {{ mostrarInsumos ? 'Ocultar Insumos' : 'Ingresar Insumos' }}
      </button>
      
      <section *ngIf="mostrarInsumos" class="contenedor-insumos">
        <h3>Insumos Requeridos, solo se pueden agregar insumos que tienen stock</h3>
        <app-index-listado-insumos 
        (insumoAgregado)="agregarInsumo($event)"
        (cantidadActualizada)="actualizarCantidad($event)"
        ></app-index-listado-insumos>
      
        <div *ngIf="insumosAgregados.length === 0" class="mensaje-sin-insumos">
          <p>No se han agregado insumos.</p>
        </div>
      </section>
      
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <!-- En tu formulario, cambia el botón de submit para evitar envíos dobles -->
<button mat-flat-button color="primary" type="button" (click)="onSubmit()" 
    [disabled]="!servicioForm.valid || (mostrarInsumos && insumosAgregados.length === 0)">
  Crear Servicio
</button>

  </mat-dialog-actions>
</form>
