.contenedor-principal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .contenedor-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .input-form {
    width: 100%;
    min-width: 250px;
  }
  
  .contenedor-insumos {
    margin-top: 1rem;
  }
  
  mat-dialog-actions {
    margin-top: 1.5rem;
  }
  
/* --- AÑADIR ESTO --- */
/* Estilo para el spinner dentro del botón */
.spinner-en-boton {
  display: flex;
  align-items: center;
  gap: 8px;
}
  