<h2 mat-dialog-title>Eliminar Subcategoria</h2>
<mat-dialog-content>¿Realmente quiere eliminar la subcategoria {{data.name}}?</mat-dialog-content>
<mat-dialog-content>Esto eliminará tambien los registros de categorias de insumos asociados a esta subcategoria</mat-dialog-content>
<mat-dialog-actions class="contenedor-botones">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button type="submit" [mat-dialog-close]="true"(click)="onEliminar()"mat-button color="war">Eliminar</button>
</mat-dialog-actions>