<h2 mat-dialog-title>Cambiar Contraseña</h2>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña Actual</mat-label>
      <input matInput type="password" formControlName="currentPassword" required />
      <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
        La contraseña actual es requerida.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="newPassword" required minlength="8" />
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        La nueva contraseña es requerida.
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
        La contraseña debe tener al menos 8 caracteres.
      </mat-error>
      
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')">
        Debe incluir al menos 1 mayúscula, 1 minúscula y 1 número.
      </mat-error>

      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('notOldPassword')">
        La nueva contraseña no puede ser igual a la actual.
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmar Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword" required minlength="8" />
      <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required')">
        La confirmación de la nueva contraseña es requerida.
      </mat-error>
      
      <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('passwordsMatch')">
        Las contraseñas no coinciden.
      </mat-error>

    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
      Cambiar Contraseña
    </button>
  </mat-dialog-actions>
</form>