.contenedor-componente-index-articulos {
    margin-left: 5%;
    margin-right: 5%;
  }

  .demo-button-container{
    padding: auto;
  }
  

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto; /* Permite que crezca con el contenido */
    overflow: visible; /* Asegura que no limite el tamaño */
  }
.contenedor-secundario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    /* padding-bottom: 5px; */
    gap: 15px;
    max-height: auto; /* Define el límite máximo del contenedor */
    overflow: hidden; /* Asegura que nada salga del contenedor */
  }

  .tarjetas-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 80px; /* Espacio extra para que el contenido no quede oculto detrás del total-container */
  }
  
  .total-container {
    position: sticky; /* Hace que el contenedor sea fijo en un punto */
    bottom: 0; /* Lo fija al fondo de la ventana */
    background-color: #ffffff; /* Fondo blanco para contraste */
    padding: 16px; /* Espaciado interno */
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Sombra superior para separar del contenido */
    text-align: right; /* Alinea el texto a la derecha */
    font-size: 18px; /* Tamaño de fuente más grande */
    font-weight: bold;
    z-index: 100; /* Asegura que quede por encima de otros elementos */
  }
  