<div class="contenedor-componente-index-articulos">
    <h5>LISTADO DE ARTÍCULOS</h5>

    <div class="demo-button-container">
        <button
            mat-raised-button
            (click)="openDialogAgregar()"
            class="demo-button"
        >
            Añadir artículo al pedido
        </button>
    </div>

    <div class="tarjetas-container">
        <div *ngFor="let articulo of dataToDisplay">
            <app-tarjeta-articulo 
                [articulo]="articulo" 
                (borrar)="removeArticulo(articulo)"
                (actualizarCantidad)="actualizarCantidadArticulo($event, articulo)">
            </app-tarjeta-articulo>
        </div>
    
        <div class="total-container">
            <p><strong>Total de artículos:</strong> {{ totalArticulos }}</p>
            <p><strong>Subtotal:</strong> {{ totalPrecio | currency }}</p>
        </div>
    </div>
    
</div>

