.contenedor-componente-index-articulos {
    margin-left: 5%;
    margin-right: 5%;
  }

  .demo-button-container{
    padding: auto;
  }
  

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto; /* Permite que crezca con el contenido */
    overflow: visible; /* Asegura que no limite el tamaño */
  }
.contenedor-secundario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    /* padding-bottom: 5px; */
    gap: 15px;
    max-height: auto; /* Define el límite máximo del contenedor */
    overflow: hidden; /* Asegura que nada salga del contenedor */
  }

  .tarjetas-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 80px; /* Espacio extra para que el contenido no quede oculto detrás del total-container */
  }
  
  .total-container {
    display: flex;
    justify-content: flex-end; /* Alinea al fondo a la derecha */
    align-items: center;
    gap: 30px; /* Espacio entre los totales */
    padding: 15px;
    border-top: 2px solid #ccc; /* Borde superior */
    background-color: #f9f9f9; /* Fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    position: sticky; /* Hace que sea sticky */
    bottom: 0; /* Se fija en la parte inferior */
    z-index: 100; /* Asegura que esté sobre otros elementos */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  }
  
  .total-container p {
    margin: 0;
    font-size: 1.2em; /* Tamaño de fuente más grande */
    font-weight: bold; /* Negrita para resaltar */
    color: #333; /* Texto más oscuro */
  }
  