<div class="tarjeta">
  <div class="tarjeta-imagen">
    <img [src]="articulo.ImagePath" alt="Imagen de {{ articulo.NombreTipoArticulo }}">
  </div>

  <div class="tarjeta-contenido">
    <h3 class="tarjeta-titulo">{{ articulo.NombreFabricante }} - {{ articulo.NombreCategoria }}</h3>
    <p class="tarjeta-subtitulo">{{ articulo.NombreSubCategoria }}</p>
    <div class="tarjeta-info-extra" *ngIf="articulo.EnlaceCompra">
      <a [href]="articulo.EnlaceCompra" target="_blank" mat-button dense color="primary">
        <mat-icon>link</mat-icon>
        Ver Enlace de Compra
      </a>
    </div>
  </div>

  <div class="tarjeta-numeros">
    <div class="control-cantidad">
      <button mat-icon-button (click)="decreaseQuantity()" [disabled]="articulo.Cantidad <= 1">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <span class="cantidad">{{ articulo.Cantidad }}</span>
      <button mat-icon-button (click)="increaseQuantity()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div class="precio">
      {{ articulo.Precio * articulo.Cantidad | currency:'USD':'symbol':'1.2-2' }}
    </div>
  </div>

  <div class="tarjeta-acciones">
    <button mat-icon-button color="accent" (click)="onEditar()" matTooltip="Editar artículo">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onEliminar()" matTooltip="Eliminar artículo">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
</div>