<div class="container">

    <div class="cabezera">
      <h1>Servicios</h1>      
      <mat-form-field floatLabel="always" appearance="outline" class="white-backgrounded-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar insumo" #input>
      </mat-form-field>
      <a mat-raised-button class="button-crear-prod" (click)="openDialogAgregar()" color="primary">
      <!-- <a mat-raised-button class="button-crear-prod"  color="primary"> -->
      <!-- <a mat-raised-button class="button-crear-prod"  color="primary"> -->
        <mat-icon>add</mat-icon>
        Añade un nuevo servicio
      </a>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- Código Column -->
        <ng-container matColumnDef="IdServicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.CodigoServicio}} </td>
        </ng-container>
      
        <!-- Descripción Column -->
        <ng-container matColumnDef="DescripcionServicio" class="columna-descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.DescripcionServicio}} </td>
        </ng-container>
      
        <!-- Estado Column -->
        <!-- <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
        </ng-container> -->
      
        <!-- Fecha Ingreso Column -->
        <ng-container matColumnDef="Fecha_Ingreso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Ingreso </th>
          <td mat-cell *matCellDef="let element"> {{element.Fecha_Ingreso}} </td>
        </ng-container>

        <!-- Precio Base Column -->
        <ng-container matColumnDef="PrecioBase">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio base </th>
          <td mat-cell *matCellDef="let element"> {{element.PrecioBase | number:'1.1-2'}} </td>
        </ng-container>

        <!-- Comentario Column -->
        <ng-container matColumnDef="Comentario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentario </th>
          <td mat-cell *matCellDef="let element"> {{element.Comentario}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" class="contenedor-botones"> 
            <a mat-flat-button href="#" [routerLink]="['/home/listado-servicios/ver-servicio', element.CodigoServicio, 'view']" class="button-editar-prod" title="ver/editar insumo">
              <mat-icon class="iconos-custom">preview</mat-icon>
            </a>
            <a mat-flat-button (click)="openDialogEliminar(element.CodigoServicio)" title="borrar insumo">
            <!-- <a mat-flat-button  title="borrar insumo"> -->
            <!-- <a mat-flat-button  title="borrar insumo"> -->
              <mat-icon class="button-eliminar-prod">delete</mat-icon>
            </a>
            <!-- <a mat-flat-button (click)="openDialogHistorial(element.CodigoInsumo)" title="historial insumo"> -->
            <a mat-flat-button  title="historial insumo">
            <!-- <a mat-flat-button  title="historial insumo"> -->
              <mat-icon class="button-historial-prod">history</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9">No se encuentran datos con "{{input.value}}"</td>
        </tr>

    </table>
    <mat-paginator class="foo-paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of insumos"></mat-paginator>
</div>