/* General reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
  }
  
  /* Contenedor general */
  .container {
    padding: 0;
    margin-left: -1%;
  }
  
  /* Contenedor de la tabla con scroll horizontal */
  .contenedor-tabla-scroll {
    width: 100%;
    overflow-x: auto;
  }
  
  /* Tabla */
  table {
    width: 125%;
    min-width: 1000px; /* Asegura que no se corte antes */
  }
  
  /* Columnas */
  .columna-descripcion {
    width: 40vw !important;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Cabecera */
  .cabezera {
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: space-evenly;
    width: 125%;
  }
  
  /* Input filter */
  .white-backgrounded-field .mdc-text-field--outlined .mdc-notched-outline {
    z-index: 0;
    width: 50% !important;
  }
  
  .white-backgrounded-field .mdc-notched-outline__notch,
  .white-backgrounded-field .mdc-notched-outline__leading,
  .white-backgrounded-field .mdc-notched-outline__trailing {
    background-color: white !important;
    color: white !important;
  }
  
  /* Paginador */
  .foo-paginator {
    width: 125%;
    background-color: #f0f0f0;
    bottom: 0;
    position: sticky;
    z-index: 10;
  }
  
  /* Botón añadir */
  .button-crear-prod {
    margin-left: 10px;
  }
  
  /* Botones de acción */
  .contenedor-botones {
    display: flex;
    height: 52px !important;
    margin-bottom: 0%;
    justify-content: center;
    gap: 8px;
  }
  
  th.mat-header-cell,
  td.mat-cell {
    text-align: center;
    vertical-align: middle;
  }
  
  /* Estilos para los botones individuales */
  .button-editar-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green !important;
    background-color: white !important;
  }
  
  .button-eliminar-prod {
    color: red;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .button-historial-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple !important;
    background-color: white !important;
  }
  
  /* Scroll personalizado */
  .contenedor-tabla-scroll {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }
  
  .contenedor-tabla-scroll::-webkit-scrollbar {
    height: 8px;
  }
  
  .contenedor-tabla-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  /* Opcional: truncar texto muy largo */
  td.mat-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
  