<h2 mat-dialog-title>Eliminar Categoria</h2>
<mat-dialog-content>¿Realmente quiere eliminar la categoria {{receivedNombreCategoria}}?</mat-dialog-content>
<mat-dialog-content>Esto eliminará todas las subcategorias y todos los registros de categorias de productos asociados a esta categoria</mat-dialog-content>
<mat-dialog-actions class="contenedor-botones">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button type="submit" [mat-dialog-close]="true"(click)="onEliminar()"mat-button color="warn">Eliminar</button>
</mat-dialog-actions>
