/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.snackbar-success .mdc-snackbar__surface {
  background-color: #28a745 !important; /* Verde éxito */
  color: #ffffff !important;
}

.snackbar-error .mdc-snackbar__surface {
  background-color: #dc3545 !important; /* Rojo error */
  color: #ffffff !important;
}