<mat-card [formGroup]="form">
  <mat-card-header class="compact-header">
    <mat-card-title>{{ articulo.NombreFabricante }} - {{ articulo.NombreSubCategoria }}</mat-card-title>
    <mat-card-subtitle>Artículo #{{ stepperIndex + 1 }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-layout-container">

    <div class="image-container">
      <img [src]="ImagePath" alt="Imagen de {{ articulo.NombreSubCategoria }}" class="articulo-imagen">
    </div>

    <div class="form-grid">

      <!-- <mat-form-field appearance="fill">
        <mat-label>Fabricante</mat-label>
        <mat-select formControlName="FabricanteAccesorio">
          <mat-option *ngFor="let fab of selectedFabricanteAccesorio" [value]="fab.IdFabricanteAccesorioPK">{{fab.NombreFabricanteAccesorio}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="CateAccesorio">
          <mat-option *ngFor="let cat of selectedCategoriaAccesorio" [value]="cat.IdCategoriaAccesorioPK">{{cat.NombreCategoriaAccesorio}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <mat-select formControlName="SubCategoriaAccesorio">
          <mat-option *ngFor="let sub of selectedSubCategoriaAccesorio" [value]="sub.IdSubcategoriaAccesorio">{{sub.NombreSubcategoriaAccesorio}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Número de serie</mat-label>
        <input matInput formControlName="NumeroSerie">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <input matInput formControlName="ColorAccesorio">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="EstadoAccesorio">
          <mat-option *ngFor="let est of selectedEstado" [value]="est.CodigoEstado">{{est.DescripcionEstado}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Precio Base</mat-label>
        <input matInput type="number" formControlName="PrecioBase">
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="fill" class="costo-distribuido-field">
        <mat-label>Costo Adicional</mat-label>
        <input matInput type="number" formControlName="CostoDistribuido">
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Productos Compatibles</mat-label>
        <mat-chip-grid #chipGrid aria-label="Productos compatibles">
          @for (keyword of keywords(); track keyword) {
            <mat-chip-row (removed)="removeCompatibleProduct(keyword)">
              {{keyword}}
              <button matChipRemove><mat-icon>cancel</mat-icon></button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input placeholder="Agrega productos..." [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="addCompatibleProduct($event)"/>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Tareas a realizar (Checklist)</mat-label>
        <mat-chip-grid #reactiveChipGrid aria-label="Tareas a realizar">
          @for (keyword of todolistKeywords(); track keyword) {
            <mat-chip-row (removed)="removeTodo(keyword)">
              {{keyword}}
              <button matChipRemove><mat-icon>cancel</mat-icon></button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input placeholder="Agrega tareas..." [matChipInputFor]="reactiveChipGrid" (matChipInputTokenEnd)="addTodo($event)"/>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Comentarios</mat-label>
        <textarea matInput formControlName="ComentarioAccesorio" placeholder="Caja dañada, sin manual, etc..." cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>

    </div>
  </mat-card-content>

  <mat-card-actions class="card-footer">
    <h4>
      Precio Final de Ingreso:
      <strong>{{ precioFinalIngreso | currency }}</strong>
    </h4>
  </mat-card-actions>
</mat-card>